<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calves-Fitfusion</title>
    <link rel="shortcut icon" href="img/Images/fitfusion-muscle-logo\fitfusion-favicon-black.png">
    <link rel="stylesheet" href="css/workout.css" type="text/css">
            <link rel="stylesheet" href="css/style.css" type="text/css">

    <!-- Bootstrap css link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
  <header>  
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/workout.hbs">
            <img src="img/Images/fitfusion-muscle-logo/png/logo-no-background.png" alt="Logo" height="90px" style="max-width: 70%;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="font-size: 23px;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/workout">Workout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


    </header>
    
    <hr>

    <div class="heading container-fluid">
        <div class="container">
        <div class="container">
        <h1 class="text-start">Calves</h1>

    </div>
    <div class="container">
        <h2 class="pt-2">Calf Raises</h2>
        <p><strong>Difficulty</strong> : Beginner</p>
        <div class="row">
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/male-bodyweight-calve-raise-front.gif">
        </div>
        <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/male-bodyweight-calve-raise-side.gif">
            </div>
        </div>

        <div class="row">
            <ol>
                <div class="col-12 my-3">
                <li>Balance on the balls of your feet on the platform or plates, leaning forward to use the wall to assist with balance.</li>
            </div>
            <div class="col-12 my-3">
                <li>Lower the heels of your feet towards the ground and pause, then push through the balls of your feet like you are standing tip toe, pausing at the apex of the motion.
                </li>
                </div>

                <div class="col-12 my-3">
                <li>Repeat as necessary.</li>
                </div>
            </ol>
        </div>
    </div>

        <br>
    <div class="container">
        <h2>Dumbells Calf Raises</h2>
        <p><strong>Difficulty</strong> : Beginner</p>
        <div class="row">
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/male-dumbbell-calf-raise-front.gif">
            </div>
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/male-dumbbell-calf-raise-side.gif">
            </div>
        </div>

        <div class="row">
            <ol>
                <div class="col-12 my-3">
                <li>Stand tall with your feet on the ground. You can put the the balls of your feet on top of a plate to extend the range of motion.</li>
                </div>
                <div class="col-12 my-3">
                <li> Imagine you have a string attached to your heels and pull your heels up toward the ceiling.</li>
                </div>
            </ol>
        </div>
</div>
        <br>
    <div class="container">
        <h2>Barbell Calf Raises</h2>
        <p><strong>Difficulty</strong> : Intermediate</p>
        <div class="row">
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/male-barbell-calve-raise-front.gif">
            </div>
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/male-barbell-calve-raise-side.gif">
            </div>
        </div>

        <div class="row">
            <ol>
                <div class="col-12 my-3">
                <li>Place the bar on your back</li>
                </div>
                <div class="col-12 my-3">
                <li>Start with feet flat on the ground</li>
                </div>
                <div class="col-12 my-3">
                <li> Extend your heels upwards while keeping your knees stationary, and pause at the contracted position.</li>
                </div>
                <div class="col-12 my-3">
                <li> Slowly return to the starting position. Repeat.
                </li>
                </div>
            </ol>
        </div> 
    </div>

    
     <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Phone</span>
                        <p>+91 9784579685 <br> +91 9748512301</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Address</span>
                        <p>Jalandhar, Punjab, India</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Email</span>
                        <p>contactcompany@FitFusion.com</p>
                    </div>
                </div>
            </div>
            <div class="subscribe-option set-bg">
                <div class="so-text">
                    <h4>Subscribe To Our Mailing List</h4>
                    <p>Sign up to receive the latest information </p>
                </div>
                <form action="#" class="subscribe-form">
                    <input type="text" placeholder="Enter Your Mail">
                    <button type="submit"><i class="fa fa-send"></i></button>
                </form>
            </div>
            
            </div>
        </div>
    </footer>
    
       <!-- Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>