<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chest-Fitfusion</title>
    <link rel="shortcut icon" href="Images/fitfusion-muscle-logo\fitfusion-favicon-black.png">
    <link rel="stylesheet" href="css/workout.css" type="text/css">
            <link rel="stylesheet" href="css/style.css" type="text/css">

    <!-- Bootstrap css link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
   <header>  
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/workout.hbs">
            <img src="img/Images/fitfusion-muscle-logo/png/logo-no-background.png" alt="Logo" height="90px" style="max-width: 70%;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="font-size: 23px;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/workout">Workout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


    </header>
    <hr>

    <div class="heading container-fluid">
        <div class="container">
        <h1 class="text-start">Hamstrings</h1>
</div>
<div class="container">
        <h2 class="pt-2">Glute Bridge</h2>
        <p><strong>Difficulty</strong> : Beginner</p>
        <div class="row">
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/male-bodyweight-glute-bridge-front.gif">
            </div>
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/male-bodyweight-glute-bridge-side.gif">
            </div>
        </div>

        <div class="row">
            <ol>
                <div class="col-12 my-3">
                <li>Lie down with your knees bent and your feet flat on the floor.</li>
                </div>
                <div class="col-12 my-3">
                <li>Push your hips up so that your butt is elevated and your back straight.</li>
                </div>
                <div class="col-12 my-3">
                <li>Tense your glutes and raise your hips towards the ceiling.</li>
                </div>
                <div class="col-12 my-3">
                <li>Once you are at the highest point you can manage, hold the position for a few seconds, and then slowly return to the starting position</li>
                </div>
            </ol>
        </div>
        </div>

        <br>

        <div class="container">
        <h2>Dumbells Goblet Squats</h2>
        <p><strong>Difficulty</strong> : Beginner</p>
        <div class="row">
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/male-dumbbell-goblet-squat-front.gif">
            </div>
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/male-dumbbell-goblet-squat-side.gif">
            </div>
        </div>

        <div class="row">
            <ol>
                <div class="col-12 my-3">
                <li>Hold the weight tucked into your upper chest area, keeping your elbows in. Your feet should be slightly wider than shoulder width.</li>
                </div>
                <div class="col-12 my-3">
                <li>Sink down into the squat, keeping your elbows inside the track of your knees.</li>
                </div>
                <div class="col-12 my-3">
                <li>Push through your heels while keeping your chest up and return to starting position.</li>
                </div>
            </ol>
        </div>
        </div>

        <br>

        <div class="container">
        <h2>Deadlift</h2>
    <p><strong>Difficulty</strong> : Advanced</p>
    <div class="row">
        <div class="col-lg-6 px-1 py-1">
    <img class="w-100" src="img/Images/male-barbell-deadlift-front.gif">
    </div>
    <div class="col-lg-6 px-1 py-1">
    <img class="w-100" src="img/Images/male-barbell-deadlift-side.gif">
    </div>
    </div>

    <div class="row">
        <ol>
            <div class="col-12 my-3">
            <li>Stand with your mid-foot under the bar and grip the bar with your hands, about a shoulder width apart.</li>
            </div>
            <div class="col-12 my-3">
            <li>Bend your knees, then lift the bar by straightening your back. It is important to keep your back straight.</li>
            </div>
            <div class="col-12 my-3">
            <li>Stand to your full height and hold.</li>
            </div>
            <div class="col-12 my-3">
            <li>Lower the bar to the floor by bending your knees and keeping your back straight.</li>
            </div>
        </ol>
    </div>
</div>
    <br>

    <div class="container">
    <h2>Sumo Deadlift</h2>
    <p><strong>Difficulty</strong> : Intermediate</p>
    <div class="row">
        <div class="col-lg-6 px-1 py-1">
    <img class="w-100" src="img/Images/male-barbell-sumo-deadlift-front_aeM2BqT.gif">
    </div>
    <div class="col-lg-6 px-1 py-1">
    <img class="w-100" src="img/Images/male-barbell-sumo-deadlift-side_av3A2PM.gif">
    </div>
    </div>

    <div class="row">
        <ol>
            <div class="col-12 my-3">
            <li>Stance width can vary with a sumo DL. Some prefer toes near the plates. Others prefer a more narrow stance to get more drive off the floor.</li>
            </div>
            <div class="col-12 my-3">
            <li> Make sure your arms are inside your legs. The bar should be just over your mid-foot. Flatten your back and push your heels into the floor.</li>
            </div>
            <div class="col-12 my-3">
            <li> Try to extend your knees and hips simultaneously.</li>
            </div>
        </ol>
    </div>
    </div>
    </div>

    
     <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Phone</span>
                        <p>+91 9784579685 <br> +91 9748512301</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Address</span>
                        <p>Jalandhar, Punjab, India</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Email</span>
                        <p>contactcompany@FitFusion.com</p>
                    </div>
                </div>
            </div>
            <div class="subscribe-option set-bg">
                <div class="so-text">
                    <h4>Subscribe To Our Mailing List</h4>
                    <p>Sign up to receive the latest information </p>
                </div>
                <form action="#" class="subscribe-form">
                    <input type="text" placeholder="Enter Your Mail">
                    <button type="submit"><i class="fa fa-send"></i></button>
                </form>
            </div>
            
            </div>
        </div>
    </footer>
     
       <!-- Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>