<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chest-Fitfusion</title>
    <link rel="shortcut icon" href="Images/fitfusion-muscle-logo\fitfusion-favicon-black.png">
    <link rel="stylesheet" href="css/workout.css" type="text/css">
            <link rel="stylesheet" href="css/style.css" type="text/css">

    <!-- Bootstrap css link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
<header>  
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/workout.hbs">
            <img src="img/Images/fitfusion-muscle-logo/png/logo-no-background.png" alt="Logo" height="90px" style="max-width: 70%;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="font-size: 23px;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/workout">Workout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


    </header>
    <hr>

    <div class="heading container-fluid">
        <div class="container">
        <h1 class="text-start">Shoulders</h1>
        </div>

        <div class="container">
        <h2 class="pt-2">Elevated Pike Press</h2>
        <p><strong>Difficulty</strong> : Beginner</p>
        <div class="row">
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/Elevated Pike Press.gif">
            </div>
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/Elevated Pike Press Side.gif">
            </div>
        </div>

        <div class="row">
            <ol>
                <div class="col-12 my-3">
                <li>Use a bench or an object to elevate your feet.</li>
                </div>
                <div class="col-12 my-3">
                <li> Lower your head towards the floor by bending your elbows</li>
                </div>
                <div class="col-12 my-3">
                <li>Push through your hands and return to the starting pike position.</li></div>
                <div class="col-12 my-3">
                <li> Repeat</li>
                </div>
            </ol>
        </div>
        </div>
        <br>

        <div class="container">
        <h2>Elevated Pike Shoulders Shrug</h2>
        <p><strong>Difficulty</strong> : Beginner</p>
        <div class="row">
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/Elevated Pike Shoulder Shrug.gif">
            </div>
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/Elevated Pike Shoulder Shrug Side.gif">
            </div>
        </div>

        <div class="row">
            <ol>
                <div class="col-12 my-3">
                <li>Use a bench or an object like a chair to elevate your feet.</li>
                </div>
                <div class="col-12 my-3">
                <li>Slowly lower your body (scapula) while keeping your elbows locked (this is key)</li>
                </div>
                <div class="col-12 my-3">
                <li>Slowly raise your body back to the start position.</li>
                </div>
            </ol>
        </div>
</div>
        <br>

        <div class="container">
        <h2>Dumbbell Seated Overhead Press </h2>
        <p><strong>Difficulty</strong> : Beginner</p>
        <div class="row">
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/male-dumbbell-seated-overhead-press-front.gif">
            </div>
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/male-dumbbell-seated-overhead-press-side.gif">
            </div>
        </div>

        <div class="row">
            <ol>
                <div class="col-12 my-3">
                <li>Sit on a bench with back support. Raise the dumbbells to shoulder height with your palms forward.</li>
                </div>
                <div class="col-12 my-3">
                <li>Raise the dumbbells upwards and pause at the contracted position.</li>
                </div>
                <div class="col-12 my-3">
                <li> Lower the weights back to starting position.</li>
                </div>
            </ol>
        </div>
        </div>

        <br>

        <div class="container">
        <h2>Lateral Raise</h2>
        <p><strong>Difficulty</strong> : Beginner</p>
        <div class="row">
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/male-dumbbell-lateral-raise-front.gif">
            </div>
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/male-dumbbell-lateral-raise-side.gif">
            </div>
        </div>

        <div class="row">
            <ol>
                <div class="col-12 my-3">
                <li>Stand up straight with dumbbells at either side, palms facing your hips.</li>
                </div>
                <div class="col-12 my-3">
                <li>Raise your arms on either side with a slight bend in your elbow until they are parallel with the floor.</li>
                </div>
                <div class="col-12 my-3">
                <li>Pause at the top of the motion.</li>
                </div>
                <div class="col-12 my-3">
                <li>Slowly return your arms down to starting position.</li>
                </div>
            </ol>
        </div>
        </div>

        <br>

        <div class="container">
        <h2>Barbell Overhead Raise</h2>
        <p><strong>Difficulty</strong> : Intermediate</p>
        <div class="row">
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/male-barbell-overhead-press-front_OJMNLxU.gif">
            </div>
            <div class="col-lg-6 px-1 py-1">
            <img class="w-100" src="img/Images/male-barbell-overhead-press-side_rFqqcjI.gif">
            </div>
        </div>

        <div class="row">
            <ol>
                <div class="col-12 my-3">
                <li>Take a roughly shoulder width grip. There should be a straight line from your elbow to fist (vertical forearms).</li>
                </div>
                <div class="col-12 my-3">
                <li>Pull your chin back and press the weight toward the ceiling by extending at the elbow joint and flexing at the shoulder joint.</li>
                </div>
                <div class="col-12 my-3">
                <li>Press until your elbows are extended and push your head forward slightly.</li>
                </div>
                <div class="col-12 my-3">
                <li>Return to the start position with control. Pulling your chin back to allow the bar to pass your face safely.</li>
                </div>

            </ol>
        </div>
        </div>

        <br>
        
        <div class="container">
        <h2>Barbell Upright Row</h2>
        <p><strong>Difficulty</strong> : Advanced</p>
        <div class="row">
            <div class="col-lg-6 px-1 py-1">
        <img class="w-100" src="img/Images\male-barbell-upright-row-front_3ROsKgm.gif"></div>
        <div class="col-lg-6 px-1 py-1">
        <img class="w-100" src="img/Images\male-barbell-upright-row-side_NBzD3il.gif">
        </div>
        </div>
    
        <div class="row">
            <ol>
                <div class="col-12 my-3">
                <li>Take a double overhand roughly shoulder width grip.</li>
                </div>
                <div class="col-12 my-3">
                <li>Pull your elbows straight up the ceiling. Aim to get the bar to chin level or slightly higher.</li>
                </div>
            </ol>
        </div>
        </div>
    </div>
    

    
     <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Phone</span>
                        <p>+91 9784579685 <br> +91 9748512301</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Address</span>
                        <p>Jalandhar, Punjab, India</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-option">
                        <span>Email</span>
                        <p>contactcompany@FitFusion.com</p>
                    </div>
                </div>
            </div>
            <div class="subscribe-option set-bg">
                <div class="so-text">
                    <h4>Subscribe To Our Mailing List</h4>
                    <p>Sign up to receive the latest information </p>
                </div>
                <form action="#" class="subscribe-form">
                    <input type="text" placeholder="Enter Your Mail">
                    <button type="submit"><i class="fa fa-send"></i></button>
                </form>
            </div>
            
            </div>
        </div>
    </footer>
       <!-- Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>